parameters:
  level: max
  stubFiles:
    - stubs/PDOStatement.stub

includes:
  - vendor/nish/phpstan-namespace-dependency/rules.neon

services:
  -
    factory: Nish\PHPStan\NsDepends\DependencyChecker([
      'PDO': ['Bbs\Io\Infrastructure\Db'],
      'Bbs\Domain': ['Bbs\DomainService', 'Bbs\Application', 'Bbs\Io\Infrastructure\Db'],
      'Bbs\Application': ['Bbs\Io\Page'],
      'Bbs\Io\Infrastructure\Response': ['Bbs\Io\Presentation', 'Bbs\Io\Page'],
      'Bbs\Io\Infrastructure': ['Bbs\Io\Page'],
      'Bbs\Io\Presentation': ['Bbs\Io\Page'],
      'Bbs\Io': ['Bbs\AppMain'],
    ], [
      'Bbs\Io\Infrastructure\Db': ['Exception'],
      'Bbs\Io\Presentation': ['Bbs\Type'],
      'Bbs\Io\Infrastructure': [],
      'Bbs\Io\Page': [],
      'Bbs\Application': [],
      'Bbs\Domain': ['Exception', 'Bbs\Type'],
      'Bbs\Type': [],
    ])
